body {
  font-size: 8px;
  font-family: sans-serif;;
  font: caption;
}

*, *:before, *:after {
  box-sizing: border-box;
}

fieldset {
  margin: 0 0 1rem 0;
  padding: 0;
  border: none;
}

input,
textarea,
select,
button {
  font-size: 1rem;
  border: none;
  outline: none;
}

input,
textarea,
select {
  width: 100%;
}

input,
textarea,
select {
  border-radius: 0;
  border-bottom: 1px solid hsl(0, 0%, 88%);
  transition: border-color .2s;
}

input {
  line-height: 2rem;
}

textarea {
  resize: none;
  padding: .25rem 0;
}

input:focus ,
textarea:focus,
select:focus {
  border-color: hsl(200, 80%, 50%);
}

button {
  background-color: transparent;
  color: hsl(200, 80%, 50%);
  padding: 0 1rem;
  margin: .75rem 0;
  line-height: 2.5rem;
}

button:hover {
  background-color: hsl(0, 0%, 90%);
  cursor: pointer;
}

label {
  font-size: .8rem;
  line-height: 1.5rem;
  color: hsl(0, 0%, 60%);
}

select {
  height: 2rem;
  background-color: hsl(0, 0%, 100%);
  -webkit-appearance: none;
}
